
.folderBorder{
    background-color: rgb(190, 99, 29);
}
.mainFolder{
    background-color: rgb(237, 129, 47);
    border: 2px solid black;
}
.menuHeader{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.menuHeader li{
    float: left;
}
.menuHeader li a{
    color: white;
    text-decoration: none;
    padding: 0.5rem 4rem;
    display: inline-flex;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border: 2px solid black;
    background-color: rgb(237, 129, 47);
}
.menuHeader li a:hover{
    background-color: rgb(180, 113, 63);
}
.mainIntro{
    margin-left: 15px;
    font-size: 17px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
.logo-button{
    width: 200px;
    height: auto;
    filter: drop-shadow(5px 5px 10px black);
    display: block;
}
.logo-container{
    position: fixed;
    bottom: 0;
    right: 0;
    display: inline-block;
    filter: drop-shadow(5px 5px 10px black);
    cursor: pointer;
}
.speech-bubble{
    display: none;
    position: absolute;
    bottom: 120%;
    left: 50%;
    transform: translateX(-50%);
    background: white;
    padding: 10px 15px;
    border-radius: 10px;
    border: 2px solid black;
    font-family: sans-serif;
    font-size: 14px;
    white-space: nowrap;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}
.speech-bubble::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border: 10px solid transparent;
    border-top-color: white;
    border-bottom: 0;
    margin-top: -1px;
}
.logo-container:hover .speech-bubble{
    display: block;
}
.intro-profile-container img{
    width: 300px;
    border: 2px solid;
    float: left;
}
.intro-profile-container{
    display: block;
    float: left;
    margin: 5px;
    text-align: center;
}
